.hero {
  padding: .2rem;
  background: #EEF5FF;
  height: 20rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.hero-section {
  text-align: center;
}

.button {
  margin-top: .3rem;
  background-color: #1A73E8 !important;
  color: white !important;
}

@media screen and (max-width: 426px) {
  .typography-h2 {
    font-size: 2rem !important
  }

  .typography-h5 {
    font-size: 1rem !important
  }

  .button {
    font-size: .6rem !important;
    height: 2rem !important;
    width: 6rem !important;
  }
}