.header-container {
    background: #EEF5FF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:.5rem 2rem;
}

.header-buttons{
    display: flex;
    justify-content: space-evenly;
}

.LogoutBtn {
    background-color: red !important;
    color:white !important
}

.LoginBtn {
    background-color: #1A73E8 !important;
    color:white !important
}

@media screen and (max-width:426px){
    h1{
        font-size:1.2rem
    }
    .header-container{
        padding:.5rem 1rem;
    }
    Button{
        font-size:.8rem !important;
        height:1.5rem;
        width:1.5rem;
    }
}

