.BannerItemContainer {
    height: 30rem;
}

.bannerImage {
    height: 100%;
    object-fit: fill;
}

@media screen and (max-width: 768px) {
    .BannerItemContainer {
        height: 20rem
    }
}

@media screen and (max-width: 425px) {
    .BannerItemContainer {
        height: 10rem
    }
}